<html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
        <form method="post" action="/add-student"> 
    <input type="text" name="name" placeholder="Enter students name"/>
    <br><br>
    <input type="text" name="age" placeholder="Enter students age"/>
    <br><br>
    <input type="text" name="mail" placeholder="Enter students mail"/>
    <br><br>
     <button>Add new Student</Button>
    </form>
</body>
</html></html>