<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students List</title>
  </head> 
  <body>
    <h1>Students Data</h1>
    <table border="1" cellpadding="10">
      <tr> 
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Operation</th>
      </tr>

      <% students.forEach(student => { %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.Age %></td>
        <td><%= student.Email %></td>
       <td>  <a href="/delete/<%= student._id %>">Delete</a> </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html> 

